@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");

@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.text-transparent {
  color: transparent;
  -webkit-text-stroke: 1.5px white;
}
