@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap");
@import "tailwindcss";

/* GLOBAL STYLES */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Space Grotesk", sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
}

/* CLASES PERSONALIZADAS, AHORA DENTRO DEL SISTEMA TAILWIND */
@layer utilities {
  .stroke-2_5 {
    -webkit-text-stroke-width: 2.5px;
  }
  .stroke-white {
    -webkit-text-stroke-color: white;
  }
  .stroke-white-40 {
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.4);
  }
  .perspective {
    perspective: 1000px;
  }

  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }

  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

